.container
  .content
    .row
      .span8
        %p#notice= notice

        %h3
          All recent 
          %span.orange #thankful 
          tweets
    .row
      .span6
        %h4.search 
          %span.orange #thankful 
          tweets mentioning:
        
        = form_tag("/tweets", method: "get") do
          = text_field_tag "mention", nil, placeholder: "@justinbieber", class: "search-form"

        - @mention.each do |tweet|
          %p  
            %strong= "@#{tweet[:from_user]}:"
            = tweet[:text]
      .span4.offset1
        %h4 
          Most 
          %span.orange #thankful 
          words:

        %ol
          - @tweet_cloud.first(10).each do |word|
            %li= word[0]
