= form_for @user do |f|
  - if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :uid
    = f.text_field :uid
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :nickname
    = f.text_field :nickname
  .field
    = f.label :token
    = f.text_field :token
  .field
    = f.label :secret
    = f.text_field :secret
  .actions
    = f.submit 'Save'
