%p#notice= notice

%p
  %b Uid:
  = @user.uid
%p
  %b Name:
  = @user.name
%p
  %b Nickname:
  = @user.nickname
%p
  %b Token:
  = @user.token
%p
  %b Secret:
  = @user.secret

= link_to 'Edit', edit_user_path(@user)
\|
= link_to 'Back', users_path
