.container
  .content
    .row
      .span8
        %p#notice= notice
        %h3
          = "@#{@user.nickname}'s "
          %span.orange #thankful 
          tweets
    .row
      .span4
        %h4 In the past week:

        - timetweets = Hash.new{ |h,k| h[k] = [] }
        - @tweets.each do |t|
          - timetweets[t.time.in_time_zone('Eastern Time (US & Canada)').strftime("%A, %b %d")] << t

        - timetweets.each_pair do |date, tweets|
          %p
            %strong= date
          - tweets.each do |t|
            %p= t.text

      .span4.offset2
        %h4 
          Most 
          %span.orange #thankful 
          words:

        %ol
          - @tweet_cloud.first(5).each do |word|
            %li= word[0]

        %h4 
          Most 
          %span.orange #thankful 
          day of the week:

        %p= @most_thankful_day[0]

        %h4 
          Most 
          %span.orange #thankful 
          time of the day:

        %p= @most_thankful_time[0]

