.container
  .content
    .row
      .span8
        %h2 About

        %h3 why?
        %p By tweeting with #thankful, you are already consciously thinking and noting what you are thankful for. Thankfully was created so that users can easily take a look at what they have been thankful in the past.


        %h3 what?
        %p Thankfully was created by 4 NYU Undergraduate students whose goal is to promote happiness throughout the NYU community then throughout the world!

        %h3 who?
        .profiles
          .profile.span2.no-margin
            .face= link_to image_tag("jon.jpg"), "http://twitter.com/jonpsunyu"
            .name Jon Li
            .nickname= link_to "@jonPSUNYU", "http://twitter.com/jonpsunyu"
            %p Content
          .profile.span2
            .face= link_to image_tag("grace.jpeg"), "http://twitter"
            .name Grace Oh
            .nickname= link_to "@hello_graceoh", "http://twitter.com/hello_graceoh"
            %p Community
          .profile.span2
            .face= link_to image_tag("yellow.jpg"), "http://twitter.com/alexqin"
            .name Alexandra Qin
            .nickname= link_to "@alexqin", "http://twitter.com/alexqin"
            %p Engineering
          .profile.span2
            .face= link_to image_tag("tobias.jpg"), "http://twitter.com/wong_tobias"
            .name Tobias Wong
            .nickname= link_to "@wong_tobias", "http://twitter.com/wong_tobias"
            %p Product

