.container.space
  .content
    %p#notice= notice

    .head 
      %span What are you 
      %span.thankful #thankful 
      %span for?

    .home_tweets
      - @tweets.each do |t|
        .tweet
          %blockquote
            %p= t.text
            %footer= "- @#{t.from_user}"

-#      
  #cbp-qtrotator.cbp-qtrotator
    - @tweets.each do |t|
      .cbp-qtcontent
        %blockquote
          %p= t.text
          %footer= t.from_user
